<%- include('header'); -%>

<h1>Welcome to the about section</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis exercitationem quasi deleniti molestias accusantium reiciendis. Harum, asperiores commodi. Veritatis porro ea hic eligendi laboriosam, neque velit delectus nisi facilis atque!
Rem blanditiis excepturi, esse quia incidunt sunt est corporis ad nemo exercitationem laborum expedita aliquam quam officia totam itaque quasi et tempore porro provident. Iste perferendis nesciunt quasi blanditiis sint!</p>

<%- include('footer'); -%>